<div class="appMsg">
	<div uib-alert ng-repeat="alert in alerts"
		ng-class="'alert-' + (alert.type || 'warning')"
		close="closeAlert($index)">{{alert.msg}}</div>
</div>
<div class="alert alert-dismissible alert-danger"
	ng-show="fecha.inicio>fecha.fin">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Error!</strong> fecha de fin debe ser mayor que la fecha de
	inicio
</div>
<div class="row">
	<form class="form-horizontal" id="loginForm">
		<fieldset>
			<legend>Reporte de Solicitud</legend>
			<div>
				<div class="form-group">
					<label for="fecha" class="col-lg-2 control-label">Fecha de
						incio</label>
					<div class="col-lg-4">
						<input type="date" class="form-control" id="fecha"
							placeholder="yyyy-mm-dd" name="fechaInicio"
							ng-model="fecha.inicio" />
					</div>
					<label for="nombre" class="col-lg-2 control-label">Fecha
						fin</label>
					<div class="col-lg-4">
						<input type="date" class="form-control" id="fecha"
							placeholder="yyyy-mm-dd" name="fechaFin" ng-model="fecha.fin" />
					</div>
				</div>
				<div>
					<button type="button" class="btn btn-primary" data-container="body"
						data-toggle="popover" data-placement="top" ng-click="generar()">Generar
						PDF</button>
				</div>
			</div>
		</fieldset>
	</form>
	<div id="exportthis">
		<div class="container">
			<div class="row">
				<div class="col-lg-2"></div>
				<h1 class="col-lg-10"><strong>Reporte generado</strong></h1>
				<p><strong>Fecha Reporte: </strong>{{fecha.actual |date: "yyyy-MM-dd"}}</p>
				<p>Este reporte va de la fecha {{fecha.inicio |date: "yyyy-MM-dd"}} a la fecha
					{{fecha.fin |date: "yyyy-MM-dd"}}</p>
			</div>
		</div>
		<div class="formclass">
			<div class="row">
				<div class="col-xs-7">
					<table class="table table-striped table-hover">
						<thead>
							<th class="col-xs-1">CI</th>
							<th class="col-xs-2">Nombres</th>
							<th class="col-xs-2">Apellidos</th>
							<th class="col-xs-3">Fecha solicitud</th>
							<th class="col-xs-1">Contacto</th>
							<th class="col-xs-1">Cod Prov</th>
							<th class="col-xs-1">Cod Ciu</th>
							<th class="col-xs-1">Estado</th>
						</thead>
						<tbody>
							<tr ng-repeat="r in reportes">
								<td>{{r.sol_ci}}</td>
								<td>{{r.sol_nombres}}</td>
								<td>{{r.sol_apellidos}}</td>
								<td>{{r.sol_fecha}}</td>
								<td>{{r.sol_telefono}}</td>
								<td>{{r.sol_codprov}}</td>
								<td>{{r.sol_codciu}}</td>
								<td>{{r.sol_estado}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>