<div class="appMsg">
	<div uib-alert ng-repeat="alert in alerts"
		ng-class="'alert-' + (alert.type || 'warning')"
		close="closeAlert($index)">{{alert.msg}}</div>
</div>
<div class="row">
	<div class="col-lg-9">
		<form class="form-horizontal" name="solReg">
			<fieldset>
				<legend>Ingreso de Solicitud de Registro</legend>
				<div class="form-group">
					<label for="nombre" class="col-lg-1 control-label">CI</label>
					<div class="col-lg-5">
						<div class="col-lg-10">
							<input name="SOL_CI" type="text" class="form-control" id="CI"
								placeholder="CI" pattern="^[0-9]*$" required
								title="Solo se admiten numeros." pattern=".{10,10}" required
								title="Longitud incorrecta." ng-model="solicitud.sol_ci"
								ng-style="((solReg.SOL_CI.$error.required || !validar()) 
								&& execRegistrar == true) && msgBackgroundError">
						</div>
						<div class="col-lg-2">
							<span class="msgError" ng-show="solReg.SOL_CI.$error.required">(*)</span>
						</div>
						<div class="col-lg-10">
							<div class="alert alert-dismissible alert-danger"
								ng-show="!validar()">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<strong>Error!</strong> C&eacute;dula incorrecta
							</div>
						</div>
					</div>
					<label for="nombre" class="col-lg-1 control-label">Tel&eacute;fono</label>
					<div class="col-lg-5">
						<div class="col-lg-10">
							<input required name="SOL_TELEFONO" type="text"
								class="form-control" id="telefono" placeholder="telefono"
								ng-model="solicitud.sol_telefono" ng-style="(solReg.SOL_TELEFONO.$error.required 
								&& execRegistrar == true) && msgBackgroundError">
						</div>
						<div class="col-lg-2">
							<span class="msgError"
								ng-show="solReg.SOL_TELEFONO.$error.required">(*)</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="nombre" class="col-lg-1 control-label">Nombres</label>
					<div class="col-lg-5">
						<div class="col-lg-10">
							<input required name="SOL_NOMBRES" type="text"
								class="form-control" id="Nombres" placeholder="Nombres"
								ng-model="solicitud.sol_nombres" ng-style="(solReg.SOL_NOMBRES.$error.required 
								&& execRegistrar == true) && msgBackgroundError">
						</div>
						<div class="col-lg-2">
							<span class="msgError"
								ng-show="solReg.SOL_NOMBRES.$error.required">(*)</span>
						</div>
					</div>
					<label for="nombre" class="col-lg-1 control-label">Apellidos</label>
					<div class="col-lg-5">
						<div class="col-lg-10">
							<input required name="SOL_APELLIDOS" type="text"
								class="form-control" id="Apellidos" placeholder="Apellidos"
								ng-model="solicitud.sol_apellidos" ng-style="(solReg.SOL_APELLIDOS.$error.required 
								&& execRegistrar == true) && msgBackgroundError">
						</div>
						<div class="col-lg-2">
							<span class="msgError"
								ng-show="solReg.SOL_APELLIDOS.$error.required">(*)</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="fecha" class="col-lg-1 control-label">Provincia</label>
					<div class="col-lg-5">
						<div class="col-lg-10">
							<select required name="SOL_CODPROV" class="form-control"
								id="Provincia" ng-model="solicitud.sol_codprov" ng-style="(solReg.SOL_CODPROV.$error.required 
								&& execRegistrar == true) && msgBackgroundError">
								<option value="1">Esmeraldas</option>
								<option value="2">Manab&iacute;</option>
								<option value="3">Guayas</option>
								<option value="4">Los R&iacuteos;</option>
							</select>
						</div>
						<div class="col-lg-2">
							<span class="msgError"
								ng-show="solReg.SOL_CODPROV.$error.required">(*)</span>
						</div>
					</div>
					<label for="fecha" class="col-lg-1 control-label">Ciudad</label>
					<div class="col-lg-5">
						<div class="col-lg-10">
							<select required name="SOL_CODCIU" class="form-control"
								id="Ciudad" ng-model="solicitud.sol_codciu" ng-style="(solReg.SOL_CODCIU.$error.required 
								&& execRegistrar == true) && msgBackgroundError">
								<option value="1">Esmeraldas</option>
								<option value="2">Tonsupa</option>
								<option value="3">San Lorenzo</option>
								<option value="4">Manta</option>
								<option value="5">Portoviejo</option>
								<option value="6">Pedernales</option>
								<option value="7">Guayaquil</option>
								<option value="8">Dur&aacute;n</option>
								<option value="9">Milagro</option>
								<option value="10">Babahoyo</option>
								<option value="11">Montalvo</option>
								<option value="12">Quevedo</option>
							</select>
						</div>
						<div class="col-lg-2">
							<span class="msgError"
								ng-show="solReg.SOL_CODCIU.$error.required">(*)</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="fecha" class="col-lg-1 control-label">Nacimiento</label>
					<div class="col-lg-5">
						<div class="col-lg-10">
							<input required type="date" class="form-control" id="fechaNac"
								placeholder="yyyy-mm-dd" name="SOL_FECHANAC"
								ng-model="solicitud.sol_fechaNac" ng-style="(solReg.SOL_FECHANAC.$error.required 
								&& execRegistrar == true) && msgBackgroundError"/>
						</div>
						<div class="col-lg-2">
							<span class="msgError"
								ng-show="solReg.SOL_FECHANAC.$error.required">(*)</span>
						</div>
					</div>
					<label for="nombre" class="col-lg-1 control-label">N&uacute;mero
						miembros</label>
					<div class="col-lg-5">
						<div class="col-lg-10">
							<input required name="SOL_NUMMIEM" type="text"
								class="form-control" id="numeroMiembros"
								placeholder="numeroMiembros" pattern="^[0-9]*$"
								title="Solo se admiten numeros."
								ng-model="solicitud.sol_nummiem" ng-style="((solReg.SOL_NUMMIEM.$error.required 
								|| solReg.SOL_NUMMIEM.$error.pattern) 
								&& execRegistrar == true) && msgBackgroundError">
						</div>
						<div class="col-lg-2">
							<span class="msgError"
								ng-show="solReg.SOL_NUMMIEM.$error.required">(*)</span>
						</div>
						<div class="col-lg-10">
							<div class="alert alert-dismissible alert-danger"
								ng-show="solReg.SOL_NUMMIEM.$error.pattern">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<strong>Error!</strong> no puede ingresar caracteres
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-1 control-label">Sexo</label>
					<div class="col-lg-5">
						<div class="col-lg-10">
							<div class="radio">
								<label> <input required type="radio" name="SOL_SEXO"
									id="optionsRadios1" value="H" ng-model="solicitud.sol_sexo">Hombre
								</label>
							</div>
							<div class="radio">
								<label> <input required type="radio" name="SOL_SEXO"
									id="optionsRadios2" value="M" ng-model="solicitud.sol_sexo">Mujer
								</label>
							</div>
						</div>
						<div class="col-lg-2">
							<span class="msgError" ng-show="solReg.SOL_SEXO.$error.required">(*)</span>
						</div>
					</div>
					<label class="col-lg-2 control-label">Alguna Discapacidad</label>
					<div class="col-lg-4">
						<div class="col-lg-10">
							<div class="radio">
								<label> <input required type="radio" name="SOL_DISC"
									id="discapacidadSi" value="true" ng-model="solicitud.sol_disc">Si
								</label>
							</div>
							<div class="radio">
								<label> <input required type="radio" name="SOL_DISC"
									id="discapacidadNo" value="false" ng-model="solicitud.sol_disc">No
								</label>
							</div>
						</div>
						<div class="col-lg-2">
							<span class="msgError"
								ng-show="solReg.SOL_DISC.$error.required">(*)</span>
						</div>
					</div>
				</div>
				<input type="hidden" ng-model="solicitud.sol_fecha">
			</fieldset>
			<div>
				<button type="button" class="btn btn-primary" data-container="body"
					data-toggle="popover" data-placement="top" ng-click="registrar()">Registrar</button>
			</div>
		</form>
	</div>
	<div class="col-lg-3">
		<h2>Datos ingresados</h2>
		<p>Cedula: {{solicitud.sol_ci}}</p>
		<p>Nombre: {{solicitud.sol_nombres}}</p>
		<p>Apellido: {{solicitud.sol_apellidos}}</p>
		<p>Tel&eacute;fono: {{solicitud.sol_telefono}}</p>
		<p>Provincia: {{solicitud.sol_codprov}}</p>
		<p>Ciudad: {{solicitud.sol_codciu}}</p>
		<p>Sexo: {{solicitud.sol_sexo}}</p>
		<p>N&uacute;mero de miembros: {{solicitud.sol_nummiem}}</p>
		<p>Discapacidad: {{solicitud.sol_disc}}</p>
		<p>Fecha de nacimiento: {{solicitud.sol_fechaNac | date: "dd-MM-yyyy"}}</p>
		<p>Fecha de registro: {{solicitud.sol_fecha | date: "dd-MM-yyyy"}}</p>
	</div>
</div>
